.card {
	border: solid lightgray 1px;
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	position: relative;
	background: #f3f3f3;
	box-shadow: 10px 10px 48px -11px rgba(0, 0, 0, 0.6);
}

.card:hover {
	cursor: pointer;
}
.heart {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.heart:hover {
	fill: red;
	fill-opacity: 1;
}

.heart__saved {
	fill: red;
	fill-opacity: 1;
}

img {
	height: 160px;
	-o-object-fit: cover;
	object-fit: cover;
	border-top: solid transparent 1px;
	border-left: solid transparent 1px;
	border-right: solid transparent 1px;
	border-radius: 3px;
}
.description {
	text-align: left;
	padding-left: 5px;
	margin-bottom: 5px;
	display: flex;
	align-content: space-between;
	flex-direction: column;
	flex: 1;
}

.item-title,
.date-loc {
	font-size: 12px;
	margin: 0;
	margin-top: 5px;
}

.price {
	margin: 0;
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border: none;
	border-radius: 5px;
}
