.profile {
	display: grid;
	grid-template-rows: auto auto 1fr;
}

.profile h3 {
	justify-self: start;
	margin-left: 20px;
	margin-bottom: 0;
}
.profile_top {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: start;
	align-items: center;
	padding-left: 20px;
}

.profile_top button {
	justify-self: end;
	margin-right: 20px;
}

@media (max-width: 500px) {
	.profile_top {
		grid-template-columns: 1fr;
		justify-items: center;
		padding-left: 0;
	}
	.profile_top button {
		justify-self: center;
		margin-right: 0;
	}
}
